.payments .image-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
}

.payments .content-container .image-content .image.bag {
  background: url(../img/bag-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-content .image.passport {
  background: url(../img/passport-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-content .image.people {
  background: url(../img/people-mobile.png) no-repeat;
  background-size: cover;
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-content .image.bag {
    background: url(../img/bag-desktop.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-content .image.passport {
    background: url(../img/passport-desktop.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-content .image.people {
    background: url(../img/people-desktop.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .image-content {
    width: 790px;
    margin-top: 0px;
  }

  .payments .content-container .text-content {
    width: 360px;
  }
}
